<%= form_for @book do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title, :autofocus => true %>
</p>
<p>
  <%= f.label :cuisine %>
  <%= f.text_field :cuisine %>
</p>
<p>
  <%= f.label :chef %>
  <%= f.text_field :chef %>
</p>
<p>
  <%= f.label :image %>
  <%= f.text_field :image %>
</p>

<% Recipe.order(:name).each do |recipe| %>
  <p>
    <%= check_box_tag 'book[recipe_ids][]', recipe.id,
                      recipe.in?(@book.recipes) %>
    <%= recipe.name %>
  </p>
<% end %>

  <%= f.submit %>
<% end %>
