<!DOCTYPE html>
<html>
<head>
  <title>Tunr</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li>Welcome <%= @authenticated.try(:name) %></li>
    <li><%= link_to('Home', root_path) %></li>
    <li><%= link_to('Create Account', new_user_path) %></li>
    <%== authentication_menu %>
  </ul>
</nav>

<%= yield %>

</body>
</html>
