<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @destination.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @destination.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @destination.longitude %>
</p>


<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
